<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">List Project</h6>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-md-4 mt-3" style="margin-left: 1.5%;">
            <button routerLink="/add-project" id="submit" type="submit" style=" border-radius: 5px">
              Thêm mới</button>
          </div>
          <div class="ms-md-auto  d-flex align-items-center col-md-2 mt-3" style="margin-right: 1.5%">
            <div class="input-group input-group-outline">
              <label class="form-label">Type here...</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>



        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-3">#</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Name</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status</th>
                  <th class="text-secondary opacity-7"></th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor= "let item of data.data.content">
                  <td>{{item.id}}</td>
                  <td>{{item.name}}</td>

                  <td>
                    <span class="  badge badge-sm bg-gradient-success">{{item.status == 1?"Online":""}}</span>
                    <span class=" badge badge-sm bg-gradient-danger">{{item.status ==0?"Offline":""}}</span>
                  </td>
                  <td class="align-middle">
                    <a routerLink="/edit-project/{{item.id}}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit ">
                      <span class="badge badge-sm bg-gradient-info">Edit</span>
                    </a>
                  </td>

                  <td class="align-middle">
                    <a (click)= "delete(item.id)" class="text-secondary font-weight-bold text-xs" style="cursor: pointer;">
                      <span class="badge badge-sm bg-gradient-primary">Delete</span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
