
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
      </div>
    </div>
  </div>
  <main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-100">
        <div class="container">
          <div class="row">
            <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
              <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center" style="background-image: url('../assets/img/illustrations/illustration-signup.jpg'); background-size: cover;">
              </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-15 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
              <div class="card card-plain">
                <div class="card-header">
                  <h4 class="font-weight-bolder">New Work </h4>
                  <!--   -->
                </div>
                <div class="card-body">
                  <form role="form">
                    <div class="input-group input-group-outline  mb-3">
                      <label class="form-label">Name</label>
                      <input type="" class="form-control">
                    </div>

                    <div class="rowTab" >

                        <label for="status">status: </label>

                      <div class="radio-left" style="margin-left: 60px;margin-top: -31px;">
                        <input type="radio"  name="fav_language" value="radio">
                        <label for="html">ẩn</label>
                        <input type="radio"  name="fav_language" value="radio" style="margin-left: 20px;">
                        <label for="css">hiện</label>
                      </div>


                    </div>



                    <div class="input-group input-group-outline mb-3" style=" border-radius: 5px;padding-top: 10px;padding-left: 2px;">
                       <label >Category_id:</label>
                        <select  style="margin-left: 32px;border-radius: 5px;padding-top: 1px;margin-bottom: 8px;padding-left: 12px; background-color: rgb(240 242 245);">
                          <option value="volvo">category 1</option>

                        </select>
                    </div>


                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">StarDate</label>
                      <input type="date" class="form-control" id="exampleInputPassword1" formControlName="startDate" style="border: 1px solid #d2d6da;padding-left: 6px;">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">EndDate</label>
                      <input type="date" class="form-control" id="exampleInputPassword1" formControlName="endDate" style="border: 1px solid #d2d6da;padding-left: 6px;">
                    </div>



                    <div class="labels">
                      <label for="address">description: </label>
                    </div>
                    <div class="rightTab">
                      <textarea id="comments" class="input-field" style="height:50px;padding-left: 43%;    text-indent: -175px; border-radius: 5px;" name="motangan" placeholder="..."></textarea>
                    </div>



                    <div class="input-group input-group-outline mb-3">
                      <label >choose color:</label>
                       <select  style="margin-left: 14px;border-radius: 5px;padding-top: 1px;margin-bottom: 8px;padding-left: 12px;">
                         <option class="pink"  value="pink"></option>
                         <option class="red"  value="red"></option>
                         <option class="black"  value="black"></option>
                         <option class="green"  value="green"></option>
                       </select>
                   </div>







                    <div class="text-center">
                      <button type="button" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Add</button>
                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
